.heading--main,
.heading--sub {
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 1.2;
  display: block;
  background-color: blueviolet;
}

.heading--main {
    font-size: var(--font-size--heading-1);
}

.heading--sub {
    font-size: var(--font-size--heading-2);
}
